body {
    display: flex;
    justify-content: right;
    margin: 270px;
    background-color: rgb(24, 23, 23);
    background-image: url(minecraft-wallpaper-6.jpg);
    margin-top: 100px;
}

section {
    width: 600px;
    border-style: groove;
    border-color: black;
    margin: 13px;
    padding: 10px;
    border-radius: 25px;
    background-image: url(minecraft\ texturas\ classicas\ -\ 22.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#btnCalcular {  
    margin: 5px;
    border-radius: 5px;
}

button:hover {
  background-color: green;
  color: white;
  transform: scale(1.1);
}

img:hover {
    transform: scale(1.5);
    box-shadow: 3px;
}

input:hover {
    transform: scale(1.2);
}

input {
    border-color: black;
    border-radius: 5px;
}

